params {
  query = false
  db = false
  outdir = Blast_Results
  threads = 40
  queueSize = 50
  clusterOptions = false
}

process {
    executor='slurm'
    clusterOptions=params.clusterOptions ? "$params.clusterOptions" : "-N 1 -n ${params.threads} -t 04:00:00"
}

executor {
  queueSize = "$params.queueSize"
  submitRateLimit = '10 sec'
}

singularity.autoMounts=true

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

manifest {
  name = 'j23414/blast_nf'
  homePage = 'www.bioinformaticsworkbook.org'
  description = 'Quick dsl2 blastn'
  mainScript = 'main.nf'
  version = '1.0.0'
}
