params {
  help = false
  query = false
  db = false
  options = '-outfmt 6 -num_alignments 5'    //  by default, tablular output, get top 5 hits
  outdir = 'Blast_Results'
  /* optional, link executables */
  blastn_app = 'blastn'
  makeblastdb = 'makeblastdb'
  threads = 40
}

env {
  blastn_options = " $params.options "
  blastn_app = " $params.blastn_app "
  makeblastdb_app = " $params.makeblastdb "
}

profiles {
  local {
    cpus = "$params.threads"
  }
}

singularity.autoMounts=true

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

manifest {
  name = 'j23414/blast_nf'
  homePage = 'www.bioinformaticsworkbook.org'
  description = 'Quick dsl2 blastn'
  mainScript = 'main.nf'
  version = '1.0.0'
}
