params {
  query = false
  db = false
  outdir = 'Blast_Results'
  threads = 40
}

profiles {
  local {
    cpus = "$params.threads"
  }
}

singularity.autoMounts=true

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

manifest {
  name = 'j23414/blast_nf'
  homePage = 'www.bioinformaticsworkbook.org'
  description = 'Quick dsl2 blastn'
  mainScript = 'main.nf'
  version = '1.0.0'
}
